<html>
	<header> <meta charset="UTF-8"/> </header>
<body>
	<h1>Atualizar convidado</h1>

<form action="/salvar-convidado" method="post" th:object="${convidado}">
  <input type="hidden" th:field="*{id}"/>
	
  <label for="nome">Nome: Convidado</label><br>
  <input type="text" id="nome" name="nome" value=""
  th:field="*{nome}"><br>
  
  <label for="rg">RG:</label><br>
  <input type="text" id="rg" name="rg" value="" th:field="*{rg}"><br>
  
  <label for="cpf">CPF:</label><br>
  <input type="text" id="cpf" name="cpf" value="" th:field="*{cpf}"><br>
  
  <label for="acompanhante">Acompanhante:</label><br>
  <input type="text" id="acompanhante" name="acompanhante" value="" th:field="*{acompanhante}"><br><br>
  
  <input type="submit" value="Salvar">
</form>

</body>
</html>

